.App {
  text-align: center;
  color: #CBF1A8;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

body {
  background-color: #181616;
  background-image: url("./components/dungeonwall2.png");
}
