.App {
  text-align: center;
  border: 1px solid black;
}


.App-link {
  color: #61dafb;
}

nav div {
  padding: .5em;
  border: 1px solid red;
  border-radius: 1em 1em 0 0;
  display: inline;
}

button {
  margin: .5em;
  border-radius: 1em;
  display: inline;
  text-align: center;
}

