.App {
  text-align: center;
  color: #ABE188;
}

body {
  background-color: #312F2F;
}

button {
  margin: .5em;
  border-radius: 1em;
  display: inline;
  background-color: #C44536;
  text-align: center;
}

button:active {
  background-color: #ABE188;
}