.racelabel {
  padding: 1em;
}

.framecontainer {
  display: flex;
  justify-content: flex-start;
}

.racebox {
  width: 40%;
}

.statbox {
  display: grid;
  grid-template-columns: 6.5em 6.5em 6.5em 12em;
  grid-template-rows: 4.5em 4.5em 4.5em 4.5em 4.5em 4.5em 4.5em;
  grid-auto-flow: column;
}

.statbox div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25em;
}

.formikerror {
  border-radius: 1em;
  background: transparent;
  border: 2px solid #C44536;
  color: #C44536;
  margin: .25em;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #ABE188 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ABE188 !important;
  text-align: center;
}
